.navbar {
  width: 25vw;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  z-index: 1001;
  background-color: rgb(254, 254, 254);
  border-top: 1px solid rgb(230, 230, 230);
}
  
.nav-but {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.navbar a {
  height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
  
.nav-icon {
  width: 5vh;
  height: 5vh;
  color: white;
  fill: rgb(150, 150, 150);
  transition: transform 0.1s ease-in-out;
}

.nav-icon line,
.nav-icon circle {
  stroke-width: 2px;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.saving-icon {
  color: red;
}

.menu-icon {
  color: rgb(150, 150, 150);
}
  
.nav-icon:active {
  fill: rgb(231, 95, 91);
  transform: scale(0.7);
}

.nav-icon-active {
  fill: red;
}

.navbar .label {
  font-size: 1.7vh;
  color: rgb(150, 150, 150);
}