.trans-hist {
    width: 100%;
    height: fit-content;
    min-height: 40vh;
    padding: 1vh 1vh 0;
    
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    background-color: white;
  
    position: relative;
    top: -8vh;
    z-index: 2;
} 
  
.trans-hist .header {
    width: 100%;
    margin: 0 0 2vh;
    height: 3.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5vh;
}
  
.header-but {
    width: 3.5vh;
    height: 3.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid rgb(135, 135, 135);
    cursor: pointer;
}
  
.trans-hist .alter-text {
    width: 100%;
    margin: 3vh 0 0;
    text-align: center;
    font-size: 2.5vh;
}
  
.trans-item {
    width: 100%;
    height: 5vh;
    margin: 0 0 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.trans-item .user-data {
    display: flex;
    align-items: center;
}
  
.trans-item .user-data .avatar {
    width: 4vh;
    height: 4vh;
    margin: 0 1vh 0 0;
    background-color: pink;
    border-radius: 50%;
    border: 1px solid black;
}
  
.trans-item .user-data .username {
    font-size: 2vh;
    color: black;
}
  
.trans-item .amount {
    font-size: 2.2vh;
    color: black;
}
  
.trans-item .incoming {
    color: green;
}

.trans-item .avatar-incoming {
    background-image: url(../assets/images/incoming.jpg);
    background-position: center center;
    background-size: contain;
}
  
.trans-item .avatar-outgoing {
    background-image: url(../assets/images/outgoing.jpg);
    background-position: center center;
    background-size: contain;
}
  